
.About{
    

.ImageSection{

    .imgAbout{
        border-radius:2%;
        margin-top:6rem;
        width:100%;
        height: 90%;
   
    
        img{
              position: relative;
      top: 0;
      left: 0;
            width:100%;
            height:50vh;
            z-index: 0;
            box-shadow: 0 0 8px 8px rgb(14, 0, 0) inset;
          
        }
    }

    .about-info{
                 position: absolute;
                  top: 230px;
                  left: 20px;
            margin-left: 2rem;
            letter-spacing: 0.1rem;
            line-height: 1.5rem;   
        
        .about-text{
            width:600px;
            font-size:1.5rem;
         
          color:white;
          
          font-weight:600;
          letter-spacing: 0.3rem;
          line-height: 1.8rem; 
          z-index: 2;
        }
    }

    @media screen and (max-width: 699px){
        flex-direction:column;
        align-items: center;
        
        .about-info{
            width: 80vh;
            margin-left: 0;
            margin-top: 1rem;
        }
        .about-text{     
           margin-bottom:3rem;
           width:60vh;
           
        }
     
        .imgAbout{
            width:100vw;
            height:40vh;
            border:3px solid black;
           
        }
      
    }
    
}
.skill-title{
    margin-top:4rem;
}

}

//    background-image:url('../../Images/code.jpg');
    // background-size:cover;


