

.ImageSection{
    
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
    width:90%;
    height:100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .imgAbout{
        width: 50%;
        height: 50vh;
        img{
            width: 50%;
            object-fit: cover;
            height: 100%;
        }
    }

    .about-info{
        margin-left: 2rem;
            text-align:left;
            letter-spacing: 0.1rem;
            line-height: 1.5rem;
           
       
        
        .about-text{
            display: flex;
            flex-direction: column;
            margin-top:2rem;
            padding: 1rem 0;
            color:white;

            
              
        }
    }

    @media screen and (max-width: 699px){
        grid-template-columns:repeat(1,auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        justify-content: center;
        .about-info{
            margin-left: 0;
            margin-top: 1rem;
        }
        .about-text{
            flex-direction:columns;
            align-items: center;
            
            
            margin-left:2rem;
            padding-left:0%;
            
        }
        .imgAbout{
           height:28vh;
        }
      
    }
    
}







