.Title{
    
    font-size: 1.7rem;
    color: rgb(188, 211, 241);
    position: relative;
    text-align:right;
    padding-top:2rem;
    text-align:center;
    letter-spacing: 0.3rem;
    line-height: 1.5rem;
    margin-top:3rem; 
    padding-bottom: 1rem;
    
    font-weight:bold;
    span{
        position: absolute;
        top: 35%;
        left: 32%;
        font-size: 5rem;
        opacity: 0.06;
    }
}