

/*.profile-photo{
    position:absolute;
    height: auto;
    max-width: 30%;
    border-radius: 50%; 
    left:20%;
    bottom:30%; 

           
}
*/
/*.Name-Quote{
    
 position:absolute;
 top:20%;
 right:40%;
   margin-left:40%;
}*/

.name{
    
    
    font-size: 2.7em;
    color:rgb(188, 211, 241); 
    z-index: 5;
 
 
}

.quote{
   
    font-size: 1.6rem;
    color:rgb(188, 211, 241); 
    z-index: 5;

}
#mainPhoto{
   
    width:25%;
    height:auto;
    border-radius: 50%;
    margin-right:40%;
    position:absolute;
    top: 33%;
    left: 14%;
      min-width: 200px;
      z-index: 1;
    margin-top:2.5rem;
}

.Name-Quote{
    position:absolute;
    top: 20%;
    left: 45%;
    z-index: 3;
    
   
}
 @media screen and (max-width: 699px){
    .name{
        font-size: 2rem;
    }
    .quote{
        font-size: 1rem;
    }
    .Name-Qoute{
       padding-right: 3rem;
    }
 }

/*.Home{   
   height:100%;
   width:100
    background:black;
    border-radius:55%;
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
    margin-bottom:35%;
    
}*/
